<div class="sidebar-header">
  <mat-icon class="bank-icon">account_balance</mat-icon>
  <span class="bank-name">Meridian Bank</span>
</div>

<mat-nav-list>
  <ng-container *ngFor="let item of navItems">
    <a mat-list-item [routerLink]="item.route" routerLinkActive="active-link">
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span matListItemTitle>{{ item.label }}</span>
    </a>
  </ng-container>
</mat-nav-list>

<div class="sidebar-footer">
  <mat-nav-list>
    <a mat-list-item>
      <mat-icon matListItemIcon>settings</mat-icon>
      <span matListItemTitle>Settings</span>
    </a>
    <a mat-list-item>
      <mat-icon matListItemIcon>help_outline</mat-icon>
      <span matListItemTitle>Support</span>
    </a>
  </mat-nav-list>
</div>
